*{ 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   transition: 0.5s;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background : rgb(210, 231, 18);
}


.container {
    position: relative;
    max-width: 200px;
    width: 100%;
    border-radius: 19px;
    padding: 20px 35px 20px;
    background: rgb(14, 204, 195);
    box-shadow: 10px 10px 0px black;
}

#display {
    height: 90px;
    width: 100%;
    outline: none;
    border-radius: 16px;
    text-align: left;
    margin-left: 2px;
    margin-bottom: 10px;
    font-size: 18px;
    pointer-events: none;

}

buttons {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(4, 1fr);
}

button{
    margin-top: 5px;
    padding: 11px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
}

button:hover {
    background-color: rgb(166, 255, 0);
    transition: 0.5s ease-out;
    animation-delay: .3s;
    border-radius: 11px;
}

button:active{
    transform: scale(1.5);
}

.operator{
    color: rgb(17, 0, 255);
}